<!DOCTYPE html>
<html lang="en" ng-app="cddApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CDD</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-theme.css" rel="stylesheet">
</head>
<body ng-controller="mainController">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ChromeDevDocs</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Official docs online<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="https://developer.chrome.com/extensions">Main</a></li>
                            <li><a href="https://developer.chrome.com/extensions/samples">Samples</a></li>
                            <li><a href="https://developer.chrome.com/webstore">WebStore</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Chapters<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="doc in docData"><a href="#{{$index}}_doc_title">{{doc.title}}</a></li>
                        </ul>
                    </li>

                </ul>

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="SearchText">
                    </div>
                </form>

            </div>
        </div>
    </nav>

    <div class="container">
        <div class="well">
            <h1><strong>Nothing special</strong></h1>
            <blockquote>
                <p>
                    Just a list of docs in PDF and HTML format about <strong class="text-warning">building a chrome extensions</strong>.
                    Also you can see this docs online by links attached
                </p>
                <p>
                    <span class="text-capitalize text-success">What a profit ?</span> You just can use it offline in one place
                </p>
                <p>
                    <span class="text-uppercase text-primary">Why did you do that ?</span> <strong class="text-danger">Because we can !!!</strong>
                </p>
            </blockquote>
        </div>

        <div class="col-lg-10 col-md-10 col-sm-10">

            <div id="{{$index}}_doc_title" ng-repeat="docs in docData | filter:SearchText">

                <hr ng-show="!$first">
                <h1><br><br></h1>
                <h2><strong>{{docs.title}}</strong></h2>
                <p>{{docs.description}}</p>
                <hr>
                <br>

                <ul class="list-group">

                    <li class="list-group-item clearfix" ng-repeat="res in docs.data | filter:SearchText">
                        <h3 class="col-lg-8 col-md-8 col-sm-8 pull-left">{{res.name}}</h3>
                        <div class="btn-group pull-right">
                            <a href="#" class="btn btn-info">Get info</a>
                            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-show="res.html != undefined"><a target="_blank" href="{{docs.path_to_html + res.html}}">HTML</a></li>
                                <li ng-show="res.pdf != undefined"><a target="_blank" href="{{docs.path_to_pdf + res.pdf}}">PDF</a></li>
                                <li ng-show="res.online != undefined"><a target="_blank" href="{{res.online}}">Online</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </div>

        </div>

    </div>

    <script src="assets/js/vendor/jquery.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/angular.min.js"></script>

    <script src="assets/js/cdd.js"></script>
    <script src="assets/js/main_service.js"></script>
    <script src="assets/js/main_ctrl.js"></script>

</body>
</html>